{% extends "_base.html" %}
{% from "macros/form_builder.html" import input_builder, range_bulder, select_builder with context %}
{% from "macros/whitespace.html" import span with context %}
{% import "macros/setting_forms.html" as setting_forms with context %}

{% block title %}Astronomy{% endblock %}

{% block page %}
    {{ super() }}
    <h1 class="mt-5">Astronomy</h1>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="stream_switch"{{ 'checked' if details['stream_switch'] else '' }} onclick="get_stream_action()">
        <label class="custom-control-label" for="stream_switch">Steam Video</label>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="{{ url_for('get_stream_video') }}" alt="Camera Stream" class="img-fluid" id="camera_stream">
        </div>
    </div>

    {{ span(1) }}

    <div class="row">
        <div class="col-md-3">
            {{ input_builder('path', 'Path', 'text', 'Astronomy-{date}') }}
        </div>
        <div class="col-md-3">
            {{ input_builder('filename', 'Filename', 'text', '{time}.{ext}') }}
        </div>
    </div>

    {{ span(1) }}

    <div class="row">
        <div class="col-md-3">
            <button onclick="start_capture()" id="capture_button"
                    type="button" class="btn btn-primary">Capture
            </button>
        </div>
        <div class="col-md-3">
            {{ range_bulder('image_count', 'Capture Images', 1, 1, 30, 1) }}
        </div>
    </div>

    {{ span(1) }}

    <div class="row">
        <div class="col-md-3">
            <div class="progress">
                <div id="image_progress" class="progress-bar progress-bar-striped"
                     style="width: 0">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="progress">
                <div id="total_progress" class="progress-bar progress-bar-striped"
                     style="width: 0">
                </div>
            </div>
        </div>
    </div>

    {{ span(1) }}

    <div class="row">
        <div class="col-md-12" id="saved_images">
            <label class="checkbox-inline">
                <input type="checkbox" disabled>
                <img src="{{ url_for('get_stream_video') }}" onclick="image_click(this)" id="thumbnail_stream" alt="Camera Stream Thumbnail" class="img-fluid" width="250" style="height:auto">
            </label>
        </div>
        <div class="col-md-12">
            <button onclick="download_image_zip()" type="button" class="btn btn-primary">Download</button>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ span(1) }}
    <div class="row">
        <div class="col-md-3">
            <button data-toggle="collapse" data-target="#settings_form">Camera Driver Settings</button>
        </div>
    </div>
    <div id="settings_form" class="collapse">
        {{ setting_forms['settings_form_' + details['active_driver'] ](details) }}
    </div>
{% endblock %}

{% block js %}
    <script src="../static/js/badge.js"></script>
    <script TYPE="text/javascript">
        const image_count = document.getElementById('image_count');
        const total_progress = document.getElementById('total_progress');
        const image_progress = document.getElementById('image_progress');
        const saved_images = document.getElementById('saved_images');
        const path = document.getElementById('path');
        const filename = document.getElementById('filename');
        const camera_stream = document.getElementById('camera_stream');
        const thumbnail_stream = document.getElementById('thumbnail_stream');
        const stream_switch = document.getElementById('stream_switch');

        const pad = (num) => String(num).padStart(1, '0')

        let next_item_number = 1;

        let loop_item = 0;
        let capturing = false;

        let last_ts = null;

        let next_ts = 0;

        let countdown_timer = null;

        function get_ts() {
            return new Date().getTime();
        }

        function calculate_delay() {
            let delay = (document.getElementById('fps') || document.getElementById('exposure') || document.getElementById('shutter_speed')).value * 1000;
            delay += 2000;
            if (next_ts === 0) {
                next_ts = get_ts() + delay;
            } else {
                // let divide = 1;
                // if (delay > 2000) {
                //     divide = 2;
                // }
                // next_ts = get_ts() + ((delay + (get_ts() - last_ts)) / divide);
                next_ts = get_ts() + (get_ts() - last_ts);
            }
            last_ts = get_ts();
        }

        function start_capture() {
            if (capturing === true) {
                debugger;
                return;
            }
            capturing = true;
            loop_item = 0;

            total_progress.classList.add('progress-bar-animated');
            total_progress.setAttribute('style', 'width: 0%');

            image_progress.classList.add('progress-bar-animated');
            image_progress.setAttribute('style', 'width: 0%');

            countdown_timer = setInterval(countdown_timer_function, 75);
            get_jpg();
        }

        function get_jpg() {
            const alt = format_string(path.value + '/' + filename.value);
            const url = '../camera/jpg/' + alt;

            // <label class="checkbox-inline">
            //     <input type="checkbox" value="../camera/stream/video" id="../camera/stream/video" class="img-checkbox">
            //     <img src="../camera/stream/video" alt="../camera/stream/video" class="img-fluid" width="250" style="height:auto">
            // </label>
            let label = document.createElement('label');
            label.setAttribute('class', 'checkbox-inline');

            let input = document.createElement('input');
            input.setAttribute('type', 'checkbox');
            input.setAttribute('class', 'img-checkbox');
            input.setAttribute('id', alt);
            label.appendChild(input);

            let img = document.createElement('img');
            img.setAttribute('src', url);
            img.setAttribute('alt', alt);
            img.setAttribute('class', 'img-fluid');
            img.setAttribute('width', '250');
            img.setAttribute('style', 'height:auto');

            img.setAttribute('onclick', 'image_click(this)');
            img.setAttribute('onload', 'jpg_loaded()');
            label.appendChild(img);

            saved_images.appendChild(label);
        }

        function jpg_loaded() {
            calculate_delay()
            next_item_number++;
            loop_item++;
            total_progress.setAttribute('style', 'width: ' + ((loop_item / image_count.value) * 100).toFixed(2) + '%');
            total_progress.innerText = loop_item;
            if (loop_item < image_count.value) {
                get_jpg();
            } else {
                stop_capture();
            }
        }

        function stop_capture() {
            clearInterval(countdown_timer);

            total_progress.classList.remove('progress-bar-animated');
            total_progress.setAttribute('style', 'width: 100%');

            image_progress.classList.remove('progress-bar-animated');
            image_progress.setAttribute('style', 'width: 100%');
            image_progress.innerText = '';

            next_ts = 0;
            capturing = false;
        }

        function format_string(str) {
            const datetime = new Date();

            const YYYY = pad(datetime.getFullYear());
            const MM = pad(datetime.getMonth() + 1);
            const DD = pad(datetime.getDate());

            const HH = pad(datetime.getHours());
            const NN = pad(datetime.getMinutes());
            const SS = pad(datetime.getSeconds());

            const format_vars = {
                'ext': 'jpg',
                'YYYY': YYYY,
                'MM': MM,
                'DD': DD,

                'HH': HH,
                'NN': NN,
                'SS': SS,

                'date': YYYY + MM + DD,
                'time': HH + NN + SS
            }

            return str.replace(/{[^{}]+}/g, function(key) {
                return format_vars[key.replace(/[{}]+/g, '')] || '';
            });

        }

        function countdown_timer_function() {
            let val = 100 - (((next_ts - get_ts()) / (next_ts - last_ts)) * 100);
            image_progress.setAttribute('style', 'width: ' + val + '%');
            image_progress.innerText = ((next_ts - get_ts()) / 1000).toFixed(2);
        }

        function image_click(element) {
            if (camera_stream.src !== element.src) {
                camera_stream.src = element.src;
            }
        }

        function get_stream_action() {
            request('GET', '../camera/stream/' + stream_switch.checked);
            let ts = get_ts();
            camera_stream.src = '../camera/stream/video?ts=' + ts;
            thumbnail_stream.src = '../camera/stream/video?ts=' + ts;
        }

        function download_image_zip() {
            let images = document.getElementsByClassName("img-checkbox");
            let files = [];
            for (let i = 0; i < images.length; i++) {
                if (images[i].checked) {
                    files.push(images[i].id)
                }
            }

            const xmlHttpRequest = new XMLHttpRequest();
            xmlHttpRequest.open('POST', '{{ url_for('put_download_zip_request') }}');
            xmlHttpRequest.onload = function() {
                if (this.status === 200) {
                    // let response = {
                    //     'zip_filename': '../'
                    // }
                    window.open('../camera/zip/' + JSON.parse(this.responseText)['zip_filename'], '_blank');
                }
            }

            xmlHttpRequest.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xmlHttpRequest.send(JSON.stringify({
                'files': files
            }));
        }

    </script>
{% endblock %}
