{% extends '_base.html' %}
{% block css %}
    <link rel="stylesheet" href="../static/css/breadcrumb.css">
{% endblock %}
{% block title %}Settings{% endblock %}
{% block page %}
    {{ super() }}
    <h1 class="mt-5">Black Camera Suite Settings{{ '' if self.title() == 'Settings' else ' - {}'.format(self.title()) }}</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if self.title() == 'Settings' %}
                <li class="breadcrumb-item active" aria-current="page">Settings</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ url_for('get_settings') }}">Settings</a></li>
            {% endif %}
            {% for driver in settings['drivers'] %}
                {% if settings['display']['display_{}'.format(driver.name.lower())] %}
                    {% if driver.value == self.title() %}
                        <li class="breadcrumb-item active" aria-current="page">{{ driver.value }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ url_for('get_settings_{}'.format(driver.name.lower())) }}">{{ driver.value }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    {% block form %}
    {% endblock %}
{% endblock %}
{% block js %}
    <script src="../static/js/badge.js"></script>
{% endblock %}
