{% extends 'settings_base.html' %}
{% from "macros/form_builder.html" import controls_form_bulder with context %}
{% block title %}Uv4l{% endblock %}
{% block form %}
    {{ controls_form_bulder('settings_{}'.format(self.title().lower()), details['controls'], 3) }}
{% endblock %}
{% block js %}
    <script src="../static/js/badge.js"></script>
    <script TYPE="text/javascript">
        let available_formats = {{ details['available_formats']|safe }};

        let v4l2_fourcc = document.getElementById('v4l2_fourcc');

        v4l2_fourcc.onchange = update_v4l2_fourcc;

        function update_v4l2_fourcc() {
            let element = document.getElementById('width');
            element.min = available_formats[v4l2_fourcc.value]['min_width'];
            element.max = available_formats[v4l2_fourcc.value]['max_width'];
            element.step = available_formats[v4l2_fourcc.value]['step_width'];

            if (parseInt(element.value) > parseInt(element.max)) {
                element.value = element.max;
            }
            if (parseInt(element.value) < parseInt(element.min)) {
                element.value = element.min;
            }
            updateBadge(element);

            element = document.getElementById('height');
            element.min = available_formats[v4l2_fourcc.value]['min_height'];
            element.max = available_formats[v4l2_fourcc.value]['max_height'];
            element.step = available_formats[v4l2_fourcc.value]['step_height'];

            if (parseInt(element.value) > parseInt(element.max)) {
                element.value = element.max;
            }
            if (parseInt(element.value) < parseInt(element.min)) {
                element.value = element.min;
            }
            updateBadge(element);

        }
    </script>
{% endblock %}
